{
  "allowedCommands": [
    "dir",
    "echo",
    "type",
    "find",
    "findstr",
    "where",
    "systeminfo",
    "tasklist",
    "ipconfig",
    "netstat",
    "hostname",
    "powershell",
    "schtasks",
    "sc",
    "whoami",
    "time",
    "date",
    "help",
    "ver",
    "ping",
    
    "npm",
    "yarn",
    "node",
    "git",
    "code",
    "python",
    "pip"
  ]
}
